@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


@layer base {
    :root{
        --primary-color: #0a8686;
        --text-muted-color: #444444;
        --primary-color-shade50:  #e2f0f0 ;
        --primary-color-shade100:  #b6dbdb ;
        --primary-color-shade200:  #85c3c3 ;
        --primary-color-shade300:  #54aaaa ;
        --primary-color-shade400:  #2f9898 ;
        --primary-color-shade600:  #097e7e ;
        --primary-color-shade700:  #077373 ;
        --primary-color-shade800:  #056969 ;
        --primary-color-shade900:  #035656 ;
        --primary-color-shadeA10:  #88ffff ;
        --primary-color-shadeA20:  #55ffff ;
        --primary-color-shadeA40:  #22ffff ;
        --primary-color-shadeA70:  #08ffff ;
    }
}

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: medium;
}

body{
    background-color: #85c3c319;
    
}